html{
    margin-left: 10px;
    border-left: 5px solid rgb(100, 79, 79);
}
body{
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}
header , main , footer{
     
    padding: 1rem 2rem;
}
h1{
    color: tomato;
}
img{
    width: 100%;
}
.navbar ul {
    display: flex;
    justify-content:space-between; 
    padding: 0;
    list-style-type: none;
}
.navbar ul a {
    color: lightgray;
}

h3{
    font-size: 30px;
}
footer .navbar ul a{
    color: tomato;
}
span{
    color: tomato;
    font-weight: bold;
    float: right;
}
p::first-letter {
font-size: 50px;
color: lightgray;
margin: 20px;
padding: 20px;
}
article{
    margin-bottom: 4rem ;
    border-bottom: 1px solid lightgray;
}
article p{
    margin-bottom: 3rem;
}
.copyright {
    color: lightgray;
}




