*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: darkgray;
     font-size: 25px;
}
.container{
    padding: 20px;
    background-color:#ddd;
    margin: auto;
    width: 70%;
    height: 100vb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.parent{
   
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
   
}
.parent div{
   padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}


.create{
    background-color: rgb(5, 66, 5);
    padding: 10px;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 20px;
    
}
a{
    text-decoration: none;
    color: white;
}
.delete{
    background-color: rgb(187, 12, 12);
    color: white;
  
}
.update{
    background-color: rgb(17, 17, 141);
    color: white;
    
}
button{
    margin: 10px;
    padding: 10px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
form div{
    width: 50%;
  
}
input{
    margin-left: 10px;
    border: 3px solid black;
    padding: 20px;
}
.edit-user{
    position: absolute;
    top: 30px;
    left: 30px;
}
 h1{
    text-shadow:  2px 4px 3px rgba(0,0,0,0.3);
 }
 .submit{
    background-color: black;
    color: aliceblue;
    padding: 10px;
 }
h2{
    position: absolute;
    top:10px;
    left: 20px;
}


